#!/usr/bin/make -f

export PYBUILD_NAME = hiredis
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DPKG_EXPORT_BUILDFLAGS = 1

include /usr/share/dpkg/buildflags.mk

%:
	dh $@ --with python3 --buildsystem=pybuild

execute_before_dh_auto_configure:
	rm -rf vendor/
